parameters:
	ignoreErrors:
		-
			message: "#^Caught class WireMock\\\\Client\\\\VerificationException is not an exception\\.$#"
			count: 1
			path: tests/Integration/DummyClientTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Matching\\\\UrlMatchingStrategy\\. Use \\-\\> instead\\.$#"
			count: 3
			path: tests/Integration/DummyClientTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Stubbing\\\\StubMapping\\. Use \\-\\> instead\\.$#"
			count: 2
			path: tests/Integration/DummyClientTest.php

		-
			message: "#^Caught class WireMock\\\\Client\\\\VerificationException is not an exception\\.$#"
			count: 1
			path: tests/Integration/ScenariosVerificationTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Matching\\\\UrlMatchingStrategy\\. Use \\-\\> instead\\.$#"
			count: 3
			path: tests/Integration/ScenariosVerificationTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Stubbing\\\\StubMapping\\. Use \\-\\> instead\\.$#"
			count: 2
			path: tests/Integration/ScenariosVerificationTest.php

		-
			message: "#^Caught class WireMock\\\\Client\\\\VerificationException is not an exception\\.$#"
			count: 1
			path: tests/Integration/StubIdVerificationTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Matching\\\\UrlMatchingStrategy\\. Use \\-\\> instead\\.$#"
			count: 3
			path: tests/Integration/StubIdVerificationTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Stubbing\\\\StubMapping\\. Use \\-\\> instead\\.$#"
			count: 2
			path: tests/Integration/StubIdVerificationTest.php

		-
			message: "#^Caught class WireMock\\\\Client\\\\VerificationException is not an exception\\.$#"
			count: 1
			path: tests/Integration/StubMappingVerificationTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Matching\\\\UrlMatchingStrategy\\. Use \\-\\> instead\\.$#"
			count: 3
			path: tests/Integration/StubMappingVerificationTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Stubbing\\\\StubMapping\\. Use \\-\\> instead\\.$#"
			count: 2
			path: tests/Integration/StubMappingVerificationTest.php

		-
			message: "#^Caught class WireMock\\\\Client\\\\VerificationException is not an exception\\.$#"
			count: 1
			path: tests/Unit/WireMockProxyTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Matching\\\\UrlMatchingStrategy\\. Use \\-\\> instead\\.$#"
			count: 3
			path: tests/Unit/WireMockProxyTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Stubbing\\\\StubMapping\\. Use \\-\\> instead\\.$#"
			count: 2
			path: tests/Unit/WireMockProxyTest.php

		-
			message: "#^Caught class WireMock\\\\Client\\\\VerificationException is not an exception\\.$#"
			count: 1
			path: tests/Unit/CountMatchingStrategyTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Matching\\\\UrlMatchingStrategy\\. Use \\-\\> instead\\.$#"
			count: 3
			path: tests/Unit/CountMatchingStrategyTest.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type WireMock\\\\Stubbing\\\\StubMapping\\. Use \\-\\> instead\\.$#"
			count: 2
			path: tests/Unit/CountMatchingStrategyTest.php
